
.parent{
    display: grid;
    grid-template-columns: auto;
}
.parent div{
    padding: 10vh 30vw; 
    margin: 10vw 6vh;

}
.parent form{
    
    color: rgb(70, 67, 67);
    border:1px grey solid;
    background-color: rgb(233, 230, 230);
}

label, input{
    margin: 10px;
}
input{
    border:1px grey solid;
}
