.App {
  text-align: center;
}

.main{
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.sidebar1{
 border: 1px solid black;
  height: 100vh;
}
.maininner{
  border: 1px solid black;
  
}
.navv{
  border: 1px solid black;
}

p{
  margin: 20px 0px;
  border: 1px solid black;
}